@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Outfit:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Outfit", "Inter", system-ui, sans-serif;
  
  --color-brand-blue: #111111;
  --color-brand-orange: #ff8a00;
  --color-brand-dark: #1A1A1A;
  --color-brand-light: #262626;
  --color-brand-border: #333333;
}
